<meta name="twitter:image:src" content="{{ $.Site.BaseURL}}{{ $.Site.Params.about_logo}}"/>

<meta name="twitter:card" content="summary"/>

<!-- Twitter Card data -->
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"/>
{{ with .Site.Params.social.twitter }}<meta name="twitter:site" content="@{{ . }}"/>{{ end }}
{{ with .Site.Params.social.twitter_domain }}<meta name="twitter:domain" content="{{ . }}"/>{{ end }}
{{ if isset .Params "author" }}
	{{ $author := index .Site.Params.authors .Params.author }}
	{{ with $author.twitter }}<meta name="twitter:creator" content="@{{ $author.twitter }}"/>{{ end }}
{{ end }}

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}" />
<meta property="og:image" content="{{ $.Site.BaseURL}}{{ $.Site.Params.about_logo}}" />
