/* base blue 42a4f4 */
/* base orange FFC000 */
/* base red FF7337 */
/* base purple 42A3F4 */
/* hover 077FE2 */
/* light 98CDF9 */

body {
  padding-top: 100px;
  background-color: #42a4f4;
}

a {
  color: #42A3F4;
}

a:hover {
  color: #077FE2;
}

.navbar {
  padding: 0.5em 0;
  border-bottom: 2px solid black;
}

.bottom_container .navbar {
  border: 0;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-light .navbar-nav .nav-link {
  color: #FF7337;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #077FE2;
}

.navbar-toggler {
  float: right;
  margin-top: 0.25em;
}

.mr-auto {
  margin-right: 0 !important;
  width: 100%;
}

.middle_container, .main_container {
  padding-top: 0.5rem;
  border-radius: 0.3rem;
}

.middle_container {
  border: 2px solid black;
}

.main_container {
  background-color: #fff;
  margin-bottom: 1rem;
}

.grid_episode_title {
  color: #077FE2;
}

.grid_episode_title:hover {
  color: #42a4f4;
}

.jumbotron {
  padding: 2rem;
  margin-bottom: 0;
}

.jumbotron .authors {
  margin-top: 2rem;
}

.site-description h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 1.5rem;
}

.site-description p {
  margin: 2rem 2rem 0 2rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .navbar-nav li {
    margin: auto;
  }

  .subscribe_buttons {
    text-align: center;
    margin: 0 auto;
  }
}

.subscribe_buttons > a {
  color: #FFC000;
}

.subscribe_buttons > a:hover {
  color: #FF7337;
}

.hompage_episode_description {
  padding-left: 0;
}

.homepage_episode_row {
  border-radius: 0.3em;
  background-color: #98CDF9;
  margin: 2em 0;
}

.img-fluid {
  border: 2px solid black;
}
