<div class="container-fluid grid_container">

<div class="jumbotron">
  <div class="row site-description">
    <h2>The New Best Practices is a podcast about the process of creating software.</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
    {{ if (isset .Site.Params "itunes_subscribe") }}
      <div class = "col subscribe_buttons col-sm-auto">
        <a class="btn btn-default" href="{{ .Site.Params.itunes_subscribe}}"><i class="fab fa-apple"></i>&nbsp;iTunes</a>
      </div>
    {{ end }}
    {{ if (isset .Site.Params "google_play_subscribe") }}
      <div class = "col subscribe_buttons col-sm-auto">
        <a class="btn btn-default" href="{{ .Site.Params.google_play_subscribe }}"><i class="fab fa-google-play"></i>&nbsp;Google Play</a>
      </div>
    {{ end }}
    {{ if (isset .Site.Params "stitcher_subscribe") }}
      <div class = "col subscribe_buttons col-sm-auto">
        <a class="btn btn-default" href="{{ .Site.Params.stitcher_subscribe }}"><i class="fas fa-podcast"></i>&nbsp;Stitcher</a>
      </div>
    {{ end }}
    {{ if (isset .Site.Params "soundcloud_subscribe") }}
      <div class = "col subscribe_buttons col-sm-auto">
        <a class="btn btn-default" href="{{ .Site.Params.soundcloud_subscribe }}"><i class="fab fa-soundcloud"></i>&nbsp;Soundcloud</a>
      </div>
    {{ end }}
    {{ if (isset .Site.Params "rss_subscribe" )}}
      <div class = "col subscribe_buttons col-sm-auto">
        <a class="btn btn-default" href="{{ .Site.Params.rss_subscribe }}"><i class="fas fa-rss"></i>&nbsp;RSS</a>
      </div>
    {{ else }}
      <div class = "col subscribe_buttons col-sm-auto">
        <a class="btn btn-default" href="{{"episode/index.xml" | absURL }}"><i class="fas fa-rss"></i>&nbsp;RSS</a>
      </div>
    {{ end }}
    </div>
    <div class="col-md-6">
      <div class="row authors">
        {{ range $p:= sort $.Site.Params.authors "identifier" }}
        <div class="col-md-4">
            <img alt="{{ $p.name }}" src="{{ $p.thumbnail | absURL }}" class="img-center rounded-circle img-fluid jumbotron-host">
            <p class="text-center text-capitalize">{{ $p.name }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
